html body {
    background-color: linear-gradient(108.7deg,  rgba(221,22,224,1) 11%, rgba(111,22,190,1) 88.2% );
    padding: 0;
    margin: 0;
}

circle {
    stroke-width: 25px;
}

.sc-gqjmRU.lmOCwD{
    font-family: 'Montserrat';
    font-size: 20px;
}

.needle{
    color: #ffffff;
}

.navbar-nav{
    margin-top: 0;
    padding-top: 0;
}

  /* This creates a skinny side bar fixed to the left of the page */
.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 5rem;
  padding-top: 2%;
  padding-left: 1%;
  padding-right: 1%;
  padding-bottom: 0%;
  background-color: #FFF;
  z-index: 1050;
  transition: width 0.1s ease-in-out;
}
/* #7616C0 */
/* when the user hovers on the sidebar, expand it */
.sidebar:hover {
  width: 16rem;
  background-color: #F8F9FA;
}

/* make sure the contents of the navlink don't wrap when navbar collapses */
.sidebar .nav-link {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

/* fix the width of the icons */
.sidebar .nav-link i {
  width: 1rem;
}

/* hide the navlink labels by default */
.sidebar .nav-link span {
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.1s ease-in-out;
}

/* when the sidebar is hovered, reveal the labels */
.sidebar:hover .nav-link span {
  visibility: visible;
  opacity: 1;
}

/* container for the sidebar header. make sure the contents don't wrap when
  * the sidebar is collapsed.
  */
.sidebar-header {
  display: flex;
  justify-content: left;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}

/* position the header relative to the logo and hide by default */
.sidebar-header h2 {
  opacity: 0;
  margin-left: 1rem;
  margin-bottom: 0;
  transition: opacity 0.1s ease-in-out;
}

/* reveal the header when the sidebar is toggled */
.sidebar:hover .sidebar-header h2 {
  opacity: 1;
}

.Select-control {
  background-color: #537FE7 !important;
  color:white;
}

.Select-control:hover {
  background-color: rgb(16, 91, 229) !important;
  color:white;
}

.Select-menu-outer {
  background-color: rgb(16,141,229);
  color: white;
}

.Select-value-label {
  color: white !important;
}
